.character-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-columns: repeat(3, 1fr); 

    gap: 1rem;
    margin-top: 2rem;
  }
  
  .character-card {
    background-color: var(--card-background-color, #333);
    color: var(--card-color, #fff);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .character-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .character-card h2 {
    margin: 0;
    background-color: var(--card-header-background-color, #646cff);
    color: var(--card-header-color, #fff);
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  .character-card p {
    margin: 0.5rem 1rem;
    text-align: left;
  }
  
  @media (prefers-color-scheme: light) {
    .character-card {
      --card-background-color: #fff;
      --card-color: #333;
      --card-header-background-color: #ececec;
      --card-header-color: #333;
    }
  }